@media (min-width: 768px) {
	.career-image-grid {
		display: flex;
	}

	.career-image-grid div {
		width: calc((100% / 3) - 3.4rem);
	}

	.career-image-grid div:nth-child(1) {
		margin-top: 6rem;
	    flex-shrink: 0;
	    margin-right: 5rem;
	}

	.career-image-grid div:nth-child(2) {
		margin-right: 5rem;
		margin-top: 6rem;
	    flex-shrink: 0;
	}

	.career-image-grid div:nth-child(3) {
		margin-top: 0px;
		flex-shrink: 0;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) { 
	.career-image-grid {
		display: grid;
		max-height: none;
		grid-template-rows: auto;
		grid-template-columns: repeat(2, 1fr);
		grid-template-areas: none;
		grid-column-gap: 3em;
		column-gap: 3em;
	}

	.career-image-grid div {
		width: 100%;
	}

	.career-image-grid div:nth-child(1) {
		margin-right: 5rem;
	}
}

@media (max-width: 767.98px) { 
	.career-image-grid div:nth-child(3) {
		display: none;
	}
}

@media (max-width: 575.98px) {
	.career-image-grid div:nth-child(1) {
		margin-bottom: 30px;
	}
}

.top-image .fAxqDr .styled__Arrow-d87459-0 {
  margin-left: 0px;
  margin-right: 0.5em;
  transform: rotate(180deg);
}

.top-image .bQLhSh {
  margin-left: 0.5em;
  transition: transform 500ms cubic-bezier(0.2, 1, 0.2, 1) 0s;
}

.top-image .fAxqDr {
  display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  position: relative;
  font-size: 1.15rem;
  line-height: 1;
  transition: color 200ms ease-in-out 0s;
  flex-direction: row-reverse;
}

.top-image .fAxqDr:hover {
  color: #030303;
  text-decoration: none;
}

.top-image .fAxqDr:hover .styled__Arrow-d87459-0 {
  transform: rotate(180deg) translateX(0.25em);
}

.top-image a {
  text-decoration: none;
}

.proejcthead h2 {
  font-weight: 400;
  text-align: center;
  padding-bottom: 30px;
  line-height: 45px !important;
}

.proejcthead span {
  font-size: 1.1em;
  display: block;
  line-height: 25px;
}

@media (max-width: 1025px) {
  .career_min .top-image {
    padding-bottom: 70px;
  }
}

@media (max-width: 572px) {
  .career_min .top-image h1 {
    padding-top: 0px;
  }
}
