.contactSection ul {
  list-style-type: disc;
}

form label {
  font-size: 0.9em;
  margin-bottom: 0.9em;
  width: 100%;
  display: block;
}

.aeDYy {
    min-height: 1.5rem;
}

.lmPArb {
    display: inline-flex;
    position: relative;
}

#formcheck-api-regular {
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    white-space: nowrap;
    width: 1px;
    position: absolute !important;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    overflow: hidden;
    padding: 0px;
}

.bUqCQv {
    margin-right: 0.5rem;
}

.kVhSPg {
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1rem;
    line-height: 1;
    font-family: inherit;
    color: rgb(17, 19, 20);
    text-decoration: none;
    outline: none;
    padding: 0.25rem 0px;
    transition: opacity 200ms ease-in-out 0s;
}

form .form-control {
  background-color: transparent;
  border-radius: 0px;
  border: 0px;
  height: auto !important;
  border-bottom: 1px solid #e4dfe3;
  font-family: inherit;
  font-size: 1.08rem;
  line-height: 1.08rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  background-color: transparent;
  color: #111314;
  box-shadow: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  padding: 0 0 0.45em !important;
  -webkit-transition: border-color 200ms ease-in-out, color 200ms ease-in-out;
  transition: border-color 200ms ease-in-out, color 200ms ease-in-out;
}

form input::-webkit-input-placeholder {
  color: #b6b6b6 !important;
}

form input:-moz-placeholder {
  color: #b6b6b6 !important;
}

form input::-moz-placeholder {
  color: #b6b6b6 !important;
}

form input:-ms-input-placeholder {
  color: #b6b6b6 !important;
}

form small {
  display: block;
  font-size: 12px;
  color: #8c8c8c;
  margin-top: 20px;
}

form small a {
  color: #8c8c8c;
  text-decoration: underline;
}

form .form-check-input {
  margin-top: 0.45rem;
}

form .form-check-label {
  font-size: 1.03em;
}

.contactSection button {
  border: 0px;
  background-color: transparent;
}

.contactSection ::-webkit-file-upload-button {
  visibility: hidden;
}
.form-control-file::before {
  content: 'Attachment';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.tipTouch > div {
  background: rgb(253, 248, 237);
  border-left: 2px solid rgb(251, 238, 210);
  padding: 1rem 1.125rem;
}

.tipTouch > div p, .tipTouch > div li {
  font-size: 0.9em;
}
